@import "tailwindcss";

/* Modern Scrollbar Styling */
.modern-scrollbar::-webkit-scrollbar {
    width: 15px;
}

.modern-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    margin: 44px 0;
}

.modern-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

.modern-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
    background-clip: padding-box;
}